<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.6/vue-router.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
</head>
<style>
    .selected {
        font-weight: bolder;
    }
    input {
        margin: 2px;
    }
    .menu-admin {
        text-align: right;
    }
</style>
<body>
<div id="app">
    <div style=" height: 180px; ">
        <h4>hello world</h4>
        <div>{{path}}</div>
        <div>
            <h3>Some var from mainPlugin</h3>
            $bien_ten : {{$bien_ten}}<br>
            $url : {{$url}}<br>
            $logged1 : {{$logged1}}<br>
        </div>
    </div>
    <div style="border-bottom:1px solid silver; padding-bottom: 3px;">
		<my-menu :hor="hor" @logout="on_logout();" ></my-menu>
    </div>
    <div style=" min-height:50px; ">
        <router-view></router-view>
    </div>
    <my-footer></my-footer>

</div>

<script type="text/javascript">

	let globalData = new Vue({
		data: { 
			$color: 'yellow',
			$border:"1px",
			$logged1:0,
			 
		}
	});
	Vue.mixin({
		computed: {
			$color: {
				get: function () { return globalData.$data.$color },
				set: function (newColor) { globalData.$data.$color = newColor; }
			},
			$border: {
				get: function () { return globalData.$data.$border },
				set: function (v) { globalData.$data.$border = v; }
			},
			$logged1: {
				get: function () { return globalData.$data.$logged1 },
				set: function (v) { globalData.$data.$logged1 = v; }
			},
		}
	})
	/*
		usage: 
		this.$color="yellow";
		vm.$color="yellow";
	*/

    var mainPlugin = {
        install: function (Vue, options) {
            var myPrivateProperty = 'Private property';
            Vue.prototype.$bien_ten="hi, thuc 101, I am from mainPlugin";
            Vue.prototype.$url="";
            Vue.prototype.$logged=0;
            Vue.prototype.$Cong=function(a,b){
                return a+b;
            }
            Vue.prototype.$Nhan=function(a,b){
                return a*b;
            }
            Vue.prototype.$test_post=function(ten){
                return axios.post(this.$url+"/test_post",{ten:ten});
            }
        }
    };
    Vue.use(mainPlugin);
    // const Home = { template: `<h3>This is Home</h3>` }
    const Product = { template: `<h3>This is Product</h3>` }
    const About = { template: `<h3>This is About</h3>` }

    var Login = Vue.component('login', {
        name: "Login",
        template: `
            <div>
                <h3>{{msg}}</h3>
                <div style="text-align:right;">
                    user_name:<input v-model="user.user_name" /><br>
                    pass:<input v-model="user.pass" /><br>
                    <button @click="on_login()" >Login</button><br><br>
                </div>
            </div>
        `,
        data: function () {
            return {
                msg: 'this is ' + this.$options.name,
                user: {
                    user_name: "thuc",
                    pass: "thuc"
                }
            }
        },
        methods: {
            on_login() {
                if (this.user.user_name == "thuc" && this.user.pass == "thuc") {
                    Vue.prototype.$logged = 1;
					this.$logged1=1;
                    this.$router.push("/");
                }else{
					alert('Khong dung mat khau!!!');
				}
            }
        }
    })

    var MyMenu = Vue.component('my-menu', {
		props:["hor"],
        name: "MyMenu",
        template: `
            <div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<router-link  v-for="x in hor" :key=x.path v-if="x.vis || $logged1==1 " tag="li" :to=" x.path " 
				exact-active-class="nav-item" 
				active-class="active">
				<a class="nav-link">{{x.title}}</a>
			</router-link>
		</ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
				<template v-if=" $logged1==1 ">
					$logged1 : {{$logged1}} |
					<a href="javascript:void(0);" @click="on_logout();">Logout</a>
				</template>
				<template v-else>
					<a href="#/Login">Login</a>
				</template>
            </li>
		</ul>
    </div>
</nav>
            </div>
        `,
        data: function () {
            return {
                msg: 'this is ' + this.$options.name,
            }
        },
		methods:{
			on_logout(){
				this.$emit("logout");
			}
		}
    })


    var Home = Vue.component('home', {
        name: "Home",
        template: `
            <div>
                <h3>this is home</h3>
				<div>{{$logged1}}</div>
				<button @click="on_test()">test</button>
            </div>
        `,
        data: function () {
            return {
                msg: 'this is ' + this.$options.name,
                res:null,
            }
        },
        created: function () {
        },
        methods:{
			on_test(){
				if(this.$logged1===0){
					this.$logged1=1;
				}else{
					this.$logged1=0;
				}
			}
        }
    })
    var MyFooter = Vue.component('my-footer', {
        name: "MyFooter",
        template: `
            <div style="border-top:1px solid blue; padding:3px; background-color:silver; " >
                <div>{{msg}}</div>
            </div>
        `,
        data: function () {
            return {
                msg: 'this is ' + this.$options.name,
            }
        },
    })
    var Tpl0 = Vue.component('tpl0', {
        name: "Tpl0",
        template: `
            <div>
                <h3>{{msg}}</h3>
            </div>
        `,
        data: function () {
            return {
                msg: 'this is ' + this.$options.name,
            }
        },
    })
    const Tpl = Vue.component('tpl', {
        name: 'Tpl',//important...change here
        template: `
            <div>
                <div class="container">
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-3">
                            <div v-if="false" >{{ $menu.find(x=>x.path==="/"+this.$options.name ).children }}</div>
                            <ol>
                                <li v-for="x in menu" ><router-link :to=" x.path " active-class="selected">{{x.title}}</router-link></li>
                            </ol>
                        </div>
                        <div class="col-lg-9" style="border-left: 1px solid silver; margin-bottom:5px;">
                            <h3>{{msg}}</h3>
                            <div>Wow, this is {{this.$options.name}}</div>
                            <router-view></router-view>
                        </div>
                    </div>
                </div>
            </div>
        `,
        data: function () {
            return {
                msg: 'this is tpl',
                menu: null,
            }
        },
        created: function () {
            //alert(this.$options.name);
            let name = this.$options.name;
            let menu = JSON.parse(JSON.stringify(this.$menu.find(x => x.path === "/" + name).children));
            let menu2 = [];
            for (i = 0; i < menu.length; i++) {
                if (menu[i].hasOwnProperty("title")) {
                    menu2.push({ path: "/" + name + "/" + menu[i].path, title: menu[i].title });
                }
            }
            this.menu = menu2;
        }
    })
    const TplHome = { template: `<div>This is TplHome</div>` }
    const TplTest1 = { template: `<div>This is TplTest1</div>` }
    const TplTest2 = { template: `<div>This is TplTest2</div>` }

    const routes = [
        { path: '/', redirect: '/Home' },
        { path: '/Home', name: "Home", title: "Trang chủ", component: Home },
        { path: '/Product', name: "Product", title: "Sản phẩm", component: Product, meta: { auth: false } },
        { path: '/About', name: "About", title: "Về Tôi", component: About, meta: { auth: true } },
        { path: '/Tpl0', name: "Tpl0", title: "Mẫu 0", component: Tpl0, meta: { auth: true } },
        {
            path: '/Tpl', name: "Tpl", title: "Tpl", component: Tpl, children: [
                { path: 'TplHome', name: "TplHome", title: "Home", component: TplHome, meta: { auth: true } },
                { path: 'TplTest1', name: "TplTest1", title: "Test1", component: TplTest1, meta: { auth: true } },
                { path: 'TplTest2', name: "TplTest2", component: TplTest2, meta: { auth: true } },
            ]
            , meta: { auth: true }
        },
        { path: '/Login', name: 'Login', component: Login },
        { path: "*", redirect: '/' },
    ];
    const router = new VueRouter({
        routes // short for `routes: routes`
    });
    Vue.prototype.$menu = routes;
    router.beforeEach((to, from, next) => {
        if (to.meta.auth === true && Vue.prototype.$logged === 0) {
            next('/Login');
        }
        else {
            next();
        }
    });
    var vm = new Vue({
        el: '#app',
        router,
        data() {
            return {
                path: '',
                state: '',
                hor: [],
				logged:0,
            }
        },
        created: function () {
            this.path = this.$route.path;
            this.hor = this.get_menu();
        },
        watch: {
			'$logged':{
				handler: function(val, oldVal) {	
					//console.log('watch');
					//localStorage.setItem('todos', JSON.stringify(this.todos));
					alert("logged");
				},
				deep:true,
			},
            '$route'(to, from) {
                this.path = this.$route.path;
            }
        },
        methods: {
            get_menu() {
                let kq = [];
                for (x in this.$menu) {
                    if (this.$menu[x].hasOwnProperty("title")) {
						let item={};
                        if (this.$menu[x].hasOwnProperty("children")) {
                            let children = [];
                            this.$menu[x].children.forEach(x => {
                                if (x.hasOwnProperty("title")) {
                                    children.push({ path: x.path, title: x.title });
                                }
                            });
							item={ path: this.$menu[x].path, title: this.$menu[x].title, children: children };	
                        } else {
							item={ path: this.$menu[x].path, title: this.$menu[x].title };
                        }
						if(this.$menu[x].hasOwnProperty("meta") && this.$menu[x].meta.auth==true ){
							item.vis=false;
						}else{
							item.vis=true;
						}
						kq.push(item);
                    }
                }
                return kq;
            },
            on_logout() {
                Vue.prototype.$logged = 0;
				this.$logged1=0;
                this.$router.push('/Login');
            }
        }
    });
</script>


</body>
</html> 










